<div class="container-fluid">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Experience">
      <app-experience-details></app-experience-details>
    </mat-tab>
    <mat-tab label="Skills">
      <div class="example-large-box mat-elevation-z4">
        Large content2
      </div>
    </mat-tab>
    <mat-tab label="Bio">
      <div class="example-large-box mat-elevation-z4">
        Large content2
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
