.scale-up-tl {
	animation: scale-up-tl 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  margin: 10px;
}

@keyframes scale-up-tl {
  0% {
    transform: scale(0.5);
    transform-origin: 0% 0%;
  }
  100% {
    transform: scale(1);
    transform-origin: 0% 0%;
  }
}