.profile{
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 16px;
  border-radius: 8px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/