<app-top-bar></app-top-bar>

<div class="container">
  <app-profile-photo></app-profile-photo>
  <router-outlet></router-outlet>
</div>

<random-joke></random-joke>

<footer>
  <version-dialog></version-dialog>
</footer>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->