.slide-right {
	animation: myAnim 1s ease 0s 1 normal forwards;
}

.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 160px;
  border-radius: 8px;
  background-color: white;
}

.example-large-box {
  min-width: 100px;
  width: 100%;
  height: auto;
}

@keyframes myAnim {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0px);
  }
}