<a [routerLink]="['/']">
  <h1>My CV</h1>
</a>
<a routerLink="/cart" class="button fancy-button">
  <i class="material-icons">language</i>Language
</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
